SUPABASE_URL=https://your-project.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
FRONTEND_URL=https://webrief.app
IMAGEKIT_PUBLIC_KEY=public_3FmfkLgY4+G2pouEKl5UVZyq2lI=
IMAGEKIT_PRIVATE_KEY=private_bIRD/KQSsup8nKhfsMDamuWwjfI=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/webrief
PORT=3000
